@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

:root {
  --brown: #2d1ef1;
  --yellow: rgb(255, 158, 1);
  --gray: #ece8dc;
  --white: #fff;
  --dark: #222;
}

body {
  color: var(--dark);
  font-family: "Poppins", sans-serif !important;
}

.text-yellow {
  color: var(--yellow);
}

.nav-link {
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
  color: var(--yellow);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 !important;
  background: linear-gradient(
    rgba(255, 174, 0, 0.253),
    rgba(255, 30, 0, 0.308)
  );
  background-size: cover;
}

.btn-yellow {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn-yellow:hover {
  background: var(--yellow);
  color: white;
}

.footer {
  background: rgb(26, 69, 150);
}
